<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zarate.proyecto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".unoAct" />
        <activity android:name=".loginActDocent" />
        <activity android:name=".loginActAdmin" />
        <activity android:name=".Admin1Act" />
        <activity android:name=".crearDocenteAct" />
        <activity android:name=".crearAlumnoAct" />
        <activity android:name=".eliminarDocenteAct" />
        <activity
            android:name=".alumno1stAct"
            android:label="Bienvenido Alumno"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".eliminarAlumnAct" />
        <activity android:name=".actualizarAlumnoAct" />
        <activity android:name=".actualizarDocenteAct" />
        <activity
            android:name=".docente1stAct"
            android:label="Bienvenido Docente"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>